/* First Page Section main styling */
main {
  background-image: url("https://images.unsplash.com/photo-1528164344705-47542687000d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1069&q=80");
  width: 100vw;
  height: 95vh;
  background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  color: #fff;
}


.main {
  padding: 10%;
}


@media only screen and (min-width: 1216px) {
  #title {
    font-size: 7rem;
  }

  #subtitle {
    font-size: 3rem;
  }
}


@media (max-width: 1216px) {
  #title {
    font-size: 3.2rem;
  }

  #subtitle {
    font-size: 2.1rem;
  }
}


/* City Header underlined */
.city{
  border-bottom: 4px solid #bc002d;
  padding-top: 2.5rem;
}


/* Google Map styling */
#google-map {
  height: 65vh;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}




